---
layout: page
refactor: true
---

{% include lang.html %}

<h1 data-toc-skip>{{ page.title }}</h1>

<div class="post-meta text-muted">

  <!--Image-->
  {% if page.image %}
    {% capture src %}src="{{ page.image.path | default: page.image }}"{% endcapture %}
    {% capture class %}class="preview-img{% if page.image.no_bg %}{{ ' no-bg' }}{% endif %}"{% endcapture %}
    {% capture alt %}alt="{{ page.image.alt | xml_escape | default: "Preview Image" }}"{% endcapture %}

    <div class="text-center mt-3 mb-3" style="text-align: center;">
      <img {{ src }} {{ class }} {{ alt }} style="background: var(--main-bg); display: block; margin-left: auto; margin-right: auto;">
      {%- if page.image.alt -%}
        <figcaption class="text-center pt-2 pb-2">{{ page.image.alt }}</figcaption>
      {%- endif -%}
    </div>
  {% endif %}

</div> <!-- .post-meta -->

<div class="post-content">
  {{ content }}
</div>